<div class="ml-3 mt-3">
  <%= line_chart @weight_data ,discrete: true,xtitle: "日付",ytitle: "体重" ,width:'60vw', height:'40vh' %>
</div>
<div class="ml-3 mt-3">
  <%= line_chart @fat_rate_data ,discrete: true,xtitle: "日付",ytitle: "体脂肪率" ,width:'60vw', height:'40vh' %>
</div>