<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Exercise Motivator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="#">投稿する</a>
      </li>
      <li>
        <a class="nav-link" href="#">ログアウト</a>
      </li>
      <li>
        <a class="nav-link" href="#">新規登録</a>
      </li>
      <li>
        <a class="nav-link" href="#">ログイン</a>
      </li>
    </ul>
  </div>
</nav>
